In [1]:
import os

In [2]:
PATH =  os.getcwd()

In [3]:
%run -i code/utils.py

In [4]:
# Reads in elevation file to extract region information
name_of_file = 'Data/chimmey_tops_dem_1m_utm17n.csv'
Mst_original = read_elevation(name_of_file)

In [5]:
# Global Coordinates
North = 1000
South = 0
East  = 1000
West  = 0
# Coordinates of the Region's Border 
Min_x = 400        
Max_x = 600

Min_y = 0
Max_y = 200

Mst   = Mst_original.copy()
Mst = Mst[(Mst.x > Min_x-1) 
        & (Mst.x < Max_x+1) 
        & (Mst.y > Min_y-1) 
        & (Mst.y < Max_y+1)]

In [6]:
Mst

            x      y  Unnamed: 2  Elevation
800400  400.0  199.0         NaN        469
800401  401.0  199.0         NaN        468
800402  402.0  199.0         NaN        468
800403  403.0  199.0         NaN        468
800404  404.0  199.0         NaN        467
800405  405.0  199.0         NaN        467
800406  406.0  199.0         NaN        466
800407  407.0  199.0         NaN        466
800408  408.0  199.0         NaN        465
800409  409.0  199.0         NaN        465
800410  410.0  199.0         NaN        464
800411  411.0  199.0         NaN        464
800412  412.0  199.0         NaN        463
800413  413.0  199.0         NaN        463
800414  414.0  199.0         NaN        462
800415  415.0  199.0         NaN        461
800416  416.0  199.0         NaN        460
800417  417.0  199.0         NaN        459
800418  418.0  199.0         NaN        459
800419  419.0  199.0         NaN        458
800420  420.0  199.0         NaN        457
800421  421.0  199.0         NaN        457
800422  422.0  199.0         NaN        456
800423  423.0  199.0         NaN        455
800424  424.0  199.0         NaN        454
800425  425.0  199.0         NaN        453
800426  426.0  199.0         NaN        452
800427  427.0  199.0         NaN        452
800428  428.0  199.0         NaN        451
800429  429.0  199.0         NaN        451
...       ...    ...         ...        ...
999570  570.0    0.0         NaN        294
999571  571.0    0.0         NaN        294
999572  572.0    0.0         NaN        294
999573  573.0    0.0         NaN        293
999574  574.0    0.0         NaN        293
999575  575.0    0.0         NaN        293
999576  576.0    0.0         NaN        293
999577  577.0    0.0         NaN        293
999578  578.0    0.0         NaN        293
999579  579.0    0.0         NaN        293
999580  580.0    0.0         NaN        293
999581  581.0    0.0         NaN        293
999582  582.0    0.0         NaN        293
999583  583.0    0.0         NaN        293
999584  584.0    0.0         NaN        293
999585  585.0    0.0         NaN        293
999586  586.0    0.0         NaN        293
999587  587.0    0.0         NaN        293
999588  588.0    0.0         NaN        293
999589  589.0    0.0         NaN        294
999590  590.0    0.0         NaN        294
999591  591.0    0.0         NaN        294
999592  592.0    0.0         NaN        294
999593  593.0    0.0         NaN        295
999594  594.0    0.0         NaN        295
999595  595.0    0.0         NaN        295
999596  596.0    0.0         NaN        295
999597  597.0    0.0         NaN        295
999598  598.0    0.0         NaN        295
999599  599.0    0.0         NaN        296

[40000 rows x 4 columns]

In [43]:
def return_elevation(Mst, x, y):
    elevation = Mst[(Mst['x']==x) & (Mst['y']==y)]['Elevation']
    elevation = int(elevation)
    return elevation

In [44]:
variable = return_elevation(Mst, 405, 199)

In [45]:
variable

467